.Rproj.user
.Rhistory
.RData
.Ruserdata

/Data/NHD/
/Data/HydroDEM/
/Data/SS_DEMS/
/Data
/Analysis
/ArcGIS
/Inspect_Validation
/Internal
/ML_Testing/
/scratch
/slides
/Data_Prep
/Model_Results/
/Atmos/
/Model_Review_App/
/temp/
NLCD_Grouping.pptx
/animations
/Model_Code/Data_Prep/01_Download_H3/outputs/
/Documentation/Documentation_Edits.docx
/Final_Sewersheds.gdb.zip
/Final_Sewersheds.gdb/
/Version_1_0.gdb/
/Version_1_1/V_1_1_Format.gpkg
/Version_1_1/Format_New.R
/Version_1_1/New_Sewersheds.R
/Version_1_1/Added_Sources.csv
/Version_1_1/New_Weighted.gpkg
/Version_1_1/New.gpkg
/Version_1_1/WEBAPP_01_26_26.gdb
