.Rproj.user
.Rhistory
.RData
.Ruserdata

/Data/NHD/
/Data/HydroDEM/
/Data/SS_DEMS/
/Data
/Analysis
/ArcGIS
/Inspect_Validation
/Internal
/ML_Testing/
/scratch
/slides
/Data_Prep
/Model_Results/
/Atmos/
/Model_Review_App/
/temp/
NLCD_Grouping.pptx
/animations
/Model_Code/Data_Prep/01_Download_H3/outputs/